.container {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "head head head head head head"
    "body body body pics pics pics"
    "body body body pics pics pics"
    "foot foot foot foot foot foot"; 
  background: linear-gradient(39deg, #ff8040 0%, #c0c0c0 68%);
}

@font-face {
   font-family: myFirstFont;
   src: url(sansation_light.woff);
}

.head { grid-area: head;
text-align: center;
  font-family: "Inspiration", cursive;
  font-size: 30px;
}

.foot { grid-area: foot; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.foot:hover .dropdown-content {
  display: block;
}

.body { grid-area: body;
font-family: "Unbounded", "Caprasimo", sans-serif;}

.pics { 
      grid-area: pics;
  column-gap: .6%;
	display: grid;	
}

.pics img {
	border-radius: 4px;
  max-height: 100%;
	width: 100%;
}

.pics img:nth-of-type(1) {
	align-self: center;
	grid-column: 6;
	grid-row: 2;
  max-height: 70%;
  width: 70%;
}

.pics img:nth-of-type(2) {
	align-self: end;
	grid-column: 5;
	grid-row: 1;
  max-height: 100%;
  width: 70%;
}

.pics img:nth-of-type(3) {
	grid-column: 7;
	grid-row: 1;
  max-height: 95%;
  width: 80%;
}

html, body , .container {
  height: 100%;
  margin: 0;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
