.CardContinent_1_10_1175 {
  flex-shrink: 0;
    width: 463px;
    height: 372px;
    position: relative;
    top: 326px;
}
.CardBackground_10_1176 {
  background: #777;
    border-radius: 76px;
    flex-shrink: 0;
    width: 463px;
    height: 264px;
    position: relative;
    top: 110px;
}
.CardContinent_2_10_1175 {
  flex-shrink: 0;
    width: 560px;
    height: 360px;
    position: relative;
    top: 25px;
    left: -76px;
}
.CardBackground_20_1176 {
  background: #777;
  border-radius: 44px;
  flex-shrink: 0;
  width: 560px;
  height: 360px;
}
.CardContinent_3_10_1175 {
  flex-shrink: 0;
    width: 616px;
    height: 757px;
    position: relative;
    left: -38px;
}
.CardBackground_30_1176 {
  background: #777;
    border-radius: 44px;
    flex-shrink: 0;
    width: 616px;
    height: 757px;
    position: relative;
}
.CardContinent_4_10_1175 {
  flex-shrink: 0;
    width: 605px;
    height: 389px;
    position: relative;
    left: 13px;
    top: 290px;
}
.CardBackground_40_1176 {
  background: #777;
  border-radius: 44px;
  flex-shrink: 0;
  width: 605px;
  height: 389px;
}
.CardContinent_5_10_1175 {
 flex-shrink: 0;
    width: 458px;
    height: 585px;
    position: relative;
    left: 43px;
}
.CardBackground_50_1176 {
  background: #777;
  border-radius: 44px;
  flex-shrink: 0;
  width: 458px;
  height: 585px;
}
.CardContinent_6_10_1175 {
  flex-shrink: 0;
    width: 605px;
    height: 389px;
    position: relative;
    left: 73px;
    top: 245px;
}
.CardBackground_60_1176 {
  background: #777;
  border-radius: 44px;
  flex-shrink: 0;
  width: 605px;
  height: 389px;
}
.CardContinent_7_10_1175 {
  flex-shrink: 0;
    width: 616px;
    height: 757px;
    position: relative;
    left: 92px;
}
.CardBackground_70_1176 {
  background: #777;
  border-radius: 44px;
  flex-shrink: 0;
  width: 616px;
  height: 757px;
}
.CardContinent_8_10_1175 {
  flex-shrink: 0;
    width: 605px;
    height: 389px;
    position: relative;
    left: 128px;
    top: 41px;
    z-index: 1;
}
.CardBackground_80_1176 {
  background: #777;
  border-radius: 44px;
  flex-shrink: 0;
  width: 678px;
  height: 275px;
}
.CardContinent_9_10_1175 {
  flex-shrink: 0;
    width: 458px;
    height: 585px;
    position: relative;
    left: 223px;
}
.CardBackground_90_1176 {
  background: #777;
  border-radius: 44px;
  flex-shrink: 0;
  width: 458px;
  height: 585px;
}
.CardContinent_10_10_1175 {
  flex-shrink: 0;
    width: 463px;
    height: 280px;
    position: relative;
    left: 252px;
    top: 77px;
}
.CardBackground_100_1176 {
  background: #777;
  border-radius: 44px;
  flex-shrink: 0;
  width: 463px;
  height: 280px;
}
.CardContinent_11_10_1175 {
  flex-shrink: 0;
    width: 605px;
    height: 389px;
    position: relative;
    top: 374px;
    left: -86px;
}
.CardBackground_110_1176 {
  background: #777;
  border-radius: 44px;
  flex-shrink: 0;
  width: 605px;
  height: 389px;
}
.CardContinent_12_10_1175 {
  flex-shrink: 0;
    width: 570px;
    height: 700px;
    position: relative;
    left: -41px;
    top: 36px;
}
.CardBackground_120_1176 {
  background: #777;
  border-radius: 44px;
  flex-shrink: 0;
  width: 570px;
  height: 700px;
}
.CardContinent_13_10_1175 {
  flex-shrink: 0;
    width: 463px;
    height: 280px;
    position: relative;
    left: 9px;
    top: 90px;
}
.CardBackground_130_1176 {
  background: #777;
  border-radius: 44px;
  flex-shrink: 0;
  width: 463px;
  height: 280px;
}
.CardContinent_14_10_1175 {
  flex-shrink: 0;
    width: 560px;
    height: 360px;
    position: relative;
    left: -80px;
    top: 363px;
}
.CardBackground_140_1176 {
  background: #777;
  border-radius: 44px;
  flex-shrink: 0;
  width: 560px;
  height: 360px;
}
.CardContinent_15_10_1175 {
  flex-shrink: 0;
    width: 424px;
    height: 541px;
    position: relative;
    left: -35px;
}
.CardBackground_150_1176 {
  background: #777;
  border-radius: 44px;
  flex-shrink: 0;
  width: 424px;
  height: 541px;
}
.CardContinent_16_10_1175 {
  flex-shrink: 0;
  width: 463px;
  height: 372px;
}
.CardBackground_160_1176 {
  background: #777;
  border-radius: 44px;
  flex-shrink: 0;
  width: 463px;
  height: 372px;
}
.Title_10_1177 {
    color: #fff;
    flex-shrink: 0;
    width: 138px;
    height: 88.78px;
    top: -369px;
    font-family: Manrope;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-block;
    position: relative;
}
.Description_10_1178 {
  color: #fff;
    flex-shrink: 0;
    width: 223px;
    height: 56.125px;
    font-family: Manrope;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-block;
    position: relative;
    top: -301px;
    left: -78px;
}
.Button_10_1179 {
  flex-shrink: 0;
    width: 1120px;
    height: 80px;
    position: relative;
    top: -221px;
}
.Tags_10_1182 {
  flex-shrink: 0;
    width: 320px;
    height: 80px;
    position: relative;
    top: -1021px;
    left: 851px;
}
