:where(.styleResets),
:where(.styleResets) * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

:where(.styleResets),
:where(.styleResets) :not(span, a, ul, ol, li, p) {
}

:where(.styleResets) ul,
:where(.styleResets) ol {
  text-indent: 0;
  padding-inline-start: 1.5em;
}

:where(.styleResets) p:empty::before {
  content: '';
  display: inline-block;
}

:where(.styleResets) img {
  object-fit: contain;
}

:where(.styleResets) svg {
  overflow: visible;
}
