.directions {
	position: relative;
	max-width: 1880px;
	width: 100%;
	max-height: 1080px;
	margin: auto;
	margin-bottom: 30px;
	overflow: hidden;
	border-radius: 60px;
	height: 100svh;
}

.full {
	width: 100%;
	height: 1080px;
	max-width: 1920px;
	/* max-height: 1080px; */
	margin-top: -50px;
	margin-bottom: 20px;
	border-radius: 0px;
	border-top-left-radius: 60px;
	border-top-right-radius: 60px;
}

/* .full .directions {
	max-width: 1980px;
} */

.directions__background {
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: opacity 0.4s;
	position: absolute;
	top: 0;
	left: 0;
}

.directions-background__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.directions-background__image_next {
	position: absolute;
	left: 0%;
	top: 0%;
	transition: clip-path 0.8s, opacity 0.5s;
}

.directions__title {
	position: relative;
	z-index: 1;
	width: 1780px;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 15px;
	color: white;
}

.circle__slide:not(.circle__slide_next):not(.circle__slide_prev):not(.circle__slide_active) .location__place {
	opacity: 0;
	transition: opacity 0.2s;
}

.next-slide {
	clip-path: circle(0% at 12% 16%);
}

.prev-slide {
	clip-path: circle(0% at 12% 82%);
}

.directions-background__image_animate-from-next {
	clip-path: circle(150% at 12% 16%);
	animation: blur 0.6s ease-out;
}

.directions-background__image_animate-from-prev {
	clip-path: circle(150% at 12% 82%);
	animation: blur 0.6s ease-out;
}

.directions-background__image_current {
	transition: clip-path 0s;
}

@keyframes blur {
	0% {
		filter: blur(10px);
	}

	100% {
		filter: blur(0px);
	}
}

.direction {
	position: absolute;
	transform: translate(50%, -50%);
	top: 55%;
	left: -35%;
}

.direction__circle {
	position: relative;
	width: 656px;
	height: 656px;
	border-radius: 50%;
	border: 3px solid white;
	transform: rotate(0deg);
	/* rotate: 0deg; */
	transition: transform 0.5s ease;
}

.direction__arrows {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 500px;
	translate: -50% -50%;
	animation: rotate 25s linear infinite;
}

.direction__arrows img {
	position: absolute;
}

.direction__arrows img:nth-of-type(1) {
	top: 0;
	right: 0;
}

.direction__arrows img:nth-of-type(2) {
	bottom: 0;
	right: 0;
	transform: scale(1, -1)
}

.direction__arrows img:nth-of-type(3) {
	bottom: 0;
	left: 0;
	transform: scale(-1, -1)
}

.direction__arrows img:nth-of-type(4) {
	top: 0;
	left: 0;
	transform: scale(-1, 1)
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.circle__slide {
	position: absolute;
	cursor: pointer;
}

.slide__point {
	display: block;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
	border: none;
}

.slide__location {
	position: absolute;
	display: flex;
	align-items: center;
	transition: top 0.5s ease-out, left 0.5s ease-out, right 0.5s ease-out, transform 0.5s, font-size 0.5s ease-out, gap 0.5s ease-out, font-family 2s ease-out 2s;

	top: 0px;
	right: 0px;
	white-space: nowrap;
	width: 150px;
	height: 100px;
	gap: 10px;
}


.location__place {
	display: flex;
	flex-direction: column;
	gap: 30px;
	pointer-events: none;

}

.place__country {
	opacity: 0;
	height: 10px;
	transition: opacity 0.5s, font-size 0.5s, font-family 5s;
	font-family: "Manrope";
	font-size: 14px;
}

.place__city {
	font-family: "PlayfairI";
}


.slide__location .place__country {
	opacity: 0;
	height: 10px;
}

.circle__slide_active .place__country {
	opacity: 1;
	font-size: 28px;
}

.circle__slide_active .slide__location img {
	scale: 2;
}

.slide__location img {
	pointer-events: none;
	transition: scale 0.5s;
	width: 100%;
	height: 100%;
	max-width: 85px;

}

.slide__location span {
	color: #fff;
	pointer-events: none
}

.circle__slide_active .slide__location {
	font-family: "PlayfairI";
	font-size: 96px;
	gap: 80px;
}

.location__place {
	transition: font-family 5s 5s;
}



.circle__slide_active.circle__slide-1 .slide__location {
	top: -240px;
	right: -131px;
}

.circle__slide_active.circle__slide-2 .slide__location {
	top: -92px;
	right: -272px;
}

.circle__slide_active.circle__slide-3 .slide__location {
	top: 86px;
	right: -190px;
}

.circle__slide_active.circle__slide-4 .slide__location {
	top: 162px;
	right: 4px;
}

.circle__slide_active.circle__slide-5 .slide__location {
	top: 7px;
	right: 146px;
}

.circle__slide_active.circle__slide-6 .slide__location {
	top: -159px;
	right: 62px;
}

.circle__slide_next.circle__slide-1 .slide__location {
	top: -102px;
	right: -167px;
}

.circle__slide_next.circle__slide-2 .slide__location {
	top: 17px;
	right: -172px;
}

.circle__slide_next.circle__slide-3 .slide__location {
	top: 80px;
	right: -68px;
}

.circle__slide_next.circle__slide-4 .slide__location {
	top: 23px;
	right: 39px;
}

.circle__slide_next.circle__slide-5 .slide__location {
	top: -95px;
	right: 44px;
}

.circle__slide_next.circle__slide-6 .slide__location {
	top: -158px;
	right: -60px;
}


.circle__slide_prev.circle__slide-1 .slide__location {
	top: -159px;
	right: -74px;
}

.circle__slide_prev.circle__slide-2 .slide__location {
	top: -92px;
	right: -173px;
}

.circle__slide_prev.circle__slide-3 .slide__location {
	top: 28px;
	right: -166px;
}

.circle__slide_prev.circle__slide-4 .slide__location {
	top: 81px;
	right: -55px;
}

.circle__slide_prev.circle__slide-5 .slide__location {
	top: 14px;
	right: 46px;
}

.circle__slide_prev.circle__slide-6 .slide__location {
	top: -106px;
	right: 37px;
}

.circle__slide-1 {
	left: 73.2%;
	top: 4.8%;
}

.circle__slide-2 {
	left: 100%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.circle__slide-3 {
	left: 73.2%;
	bottom: 4.8%;
}

.circle__slide-4 {
	right: 73.2%;
	bottom: 4.8%;
}

.circle__slide-5 {
	left: 0%;
	bottom: 50%;
	transform: translate(-50%, 50%);
}

.circle__slide-6 {
	right: 73.2%;
	top: 4.8%;
}