.enterField.enterField {
  left: calc(50% - 0px);
    top: -833px;
    width: 881px;
    box-shadow: inset 0px -2px 0px #404040;
    transform: translateX(-50%);
    position: relative;
}
.yourFullNameRequired {
  color: #404040;
  font-size: 20px;
  line-height: 137.5016%;
  font-family: ManropeReg, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 0;
  top: 18px;
  width: 793px;
  height: min-content;
  flex-direction: column;
}
.enterField2.enterField2 {
  left: calc(50% - 230px);
    top: -792px;
    width: 421px;
    box-shadow: inset 0px -2px 0px #404040;
    transform: translateX(-50%);
    position: relative;
}
.yourFullNameRequired2 {
  color: #000;
  font-size: 20px;
  line-height: 137.5016%;
  font-family: ManropeReg, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 0;
  top: 18px;
  width: 793px;
  height: min-content;
  flex-direction: column;
}
.enterField3.enterField3 {
  left: calc(50% - -231px);
    top: -877px;
    width: 421px;
    box-shadow: inset 0px -2px 0px #404040;
    transform: translateX(-50%);
    position: relative;
}
.yourFullNameRequired3 {
  color: #000;
  font-size: 20px;
  line-height: 137.5016%;
  font-family: ManropeReg, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 0;
  top: 18px;
  width: 793px;
  height: min-content;
  flex-direction: column;
}
.enterField4.enterField4 {
  left: calc(50% - 0px);
    top: -700px;
    width: 881px;
    height: 240px;
    box-shadow: inset 0px -2px 0px #404040;
    transform: translateX(-50%);
    position: relative;
}
.yourFullNameRequired4 {
  color: #404040;
  font-size: 20px;
  font-family: ManropeReg, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 18px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  position: relative;
  width: 1920px;
  height: 10860px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.rectangle27 {
  position: absolute;
  left: 48px;
  top: 150px;
  width: 742px;
  height: 754px;
  border-radius: 44px;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle27.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  position: absolute;
  left: 48px;
  top: 34px;
  width: 1347px;
  height: 43px;
  align-items: flex-start;
}
.header2 {
  position: absolute;
  left: 0;
  top: 0;
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 516px;
}
.logo {
  width: 26px;
  height: 43px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.frame6 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 40px;
}
.about {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.destinations {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.rentals {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.createYourOwnTour {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.contactUs {
  position: absolute;
  right: 160px;
  top: 30px;
  width: 195px;
  height: 48px;
  place-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px 23px;
  border-radius: 23px;
  background-color: #e5e5e5;
}
.contactUs2 {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - -11.5px);
  top: calc(50% - -0.5px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.group {
  position: absolute;
  left: 17.1221px;
  top: 13.0001px;
  width: 21.8779px;
  height: 22.9999px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.frame13 {
  position: absolute;
  left: 1442px;
  top: 30px;
  width: 104px;
  height: 48px;
  align-items: flex-start;
}
.rectangle8 {
  position: absolute;
  left: 0;
  top: 0;
  width: 104px;
  height: 48px;
  border-radius: 23px;
  background-color: #e5e5e5;
}
.languageRuEng {
  position: absolute;
  left: 3px;
  top: 4px;
  width: 59px;
  height: 41px;
  place-content: center;
  align-items: center;
  padding: 8px 23px;
  outline: solid 3px #fff;
  outline-offset: -3px;
  border-radius: 23px;
  background-color: #fff;
}
.eNG {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  z-index: 0;
  position: absolute;
  left: calc(50% - -0.5px);
  top: 50%;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.frame23 {
  position: absolute;
  left: 1825px;
  top: 31px;
  width: 47px;
  height: 47px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.japaneseGoldenRing {
  position: absolute;
  left: 135px;
  top: 317px;
  width: 629px;
  height: min-content;
  flex-direction: column;
}
.labelWrapper {
  font-size: 76px;
  font-family: ManropeReg, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #fff;
  font-size: 76px;
  line-height: 86px;
  font-family: ManropeReg, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.label2 {
  color: #fff;
  font-size: 76px;
  line-height: 86px;
  font-style: italic;
  font-family: PlayfairI, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.textBlock {
  margin-top: 0;
}
.labelWrapper2 {
  font-size: 76px;
  font-family: PlayfairI, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label3 {
  color: #fff;
  font-size: 76px;
  line-height: 86px;
  font-style: italic;
  font-family: PlayfairI, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.label4 {
  color: #fff;
  font-size: 76px;
  line-height: 86px;
  font-family: ManropeReg, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.thisTourIsForThoseWhoDoNotSitS {
  position: absolute;
  left: 135px;
  top: 535px;
  width: 502px;
  height: min-content;
  flex-direction: column;
}
.textBlock2 {
  color: #fff;
  font-size: 24px;
  line-height: 125%;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  margin-top: 0;
  color: #fff;
  font-size: 24px;
  line-height: 125%;
  font-weight: 500;
  font-family: ManropeReg, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock4 {
  margin-top: 0;
  color: #fff;
  font-size: 24px;
  line-height: 125%;
  font-weight: 500;
  font-family: ManropeReg, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.unnamed {
  color: #000;
  font-size: 40px;
  line-height: 144%;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1275px;
  top: 3613px;
  width: 559px;
  height: min-content;
  flex-direction: column;
}
.unnamed2 {
  color: #000;
  font-size: 24px;
  line-height: 144%;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 120px;
  top: 3653px;
  width: 559px;
  height: min-content;
  flex-direction: column;
}
.accommodationInAHotelOfTheSpec {
  position: absolute;
  left: 84px;
  top: 1271px;
  width: 654px;
  height: min-content;
  flex-direction: column;
}
.list {
  font-size: 20px;
}
.list ::marker {
  color: #000;
  font-size: 20px;
  line-height: 144%;
  font-weight: 500;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock5 {
  color: #000;
  font-size: 20px;
  line-height: 144%;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock6 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  line-height: 144%;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock7 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  line-height: 144%;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock8 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  line-height: 144%;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock9 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  line-height: 144%;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock10 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  line-height: 144%;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock11 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  line-height: 144%;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock12 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  line-height: 144%;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock13 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  line-height: 144%;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock14 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  line-height: 144%;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.internationalFlightHoneyInsura {
  position: absolute;
  left: 1002px;
  top: 1264px;
  width: 654px;
  height: min-content;
  flex-direction: column;
}
.list2 {
  font-size: 20px;
}
.list2 ::marker {
  color: #000;
  font-size: 20px;
  line-height: 144%;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock15 {
  color: #000;
  font-size: 20px;
  line-height: 144%;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock16 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  line-height: 144%;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock17 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  line-height: 144%;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock18 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  line-height: 144%;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock19 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  line-height: 144%;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.iNCLUSIONS {
  color: #000;
  font-size: 64px;
  line-height: 86px;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 84px;
  top: 1156px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.additionalCharges {
  color: #000;
  font-size: 64px;
  line-height: 86px;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 1002px;
  top: 1156px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle29 {
  position: absolute;
  left: 93px;
  top: 1839px;
  width: 1779px;
  height: 780px;
  border-radius: 44px;
  background-color: #d9d9d9;
}
.rectangle30 {
  position: absolute;
  left: 93px;
  top: 2632px;
  width: 566px;
  height: 780px;
  border-radius: 44px;
  background-color: #d9d9d9;
}
.rectangle32 {
  position: absolute;
  left: 117px;
  top: 3888px;
  width: 566px;
  height: 780px;
  border-radius: 44px;
  background-color: #d9d9d9;
}
.rectangle33 {
  position: absolute;
  left: 709px;
  top: 3888px;
  width: 566px;
  height: 780px;
  border-radius: 44px;
  background-color: #d9d9d9;
}
.rectangle34 {
  position: absolute;
  left: 1301px;
  top: 3888px;
  width: 566px;
  height: 780px;
  border-radius: 44px;
  background-color: #d9d9d9;
}
.rectangle31 {
  position: absolute;
  left: 677px;
  top: 2632px;
  width: 1195px;
  height: 780px;
  border-radius: 44px;
  background-color: #d9d9d9;
}
.day13 {
  color: #000;
  font-size: 64px;
  line-height: 86px;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 117px;
  top: 3545px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle272 {
  position: absolute;
  left: 124px;
  top: 4801px;
  width: 541px;
  height: 322px;
  border-radius: 44px;
  background-color: #d9d9d9;
}
.nameHotel {
  color: #000;
  font-size: 48px;
  line-height: 107.4222%;
  font-weight: 600;
  font-family: ManropeSB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 189px;
  top: 4852px;
  width: 476px;
  height: min-content;
  flex-direction: column;
}
.frame31 {
  position: absolute;
  left: 189px;
  top: 5042px;
  width: min-content;
  height: min-content;
  padding: 11px 41px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 55px;
  background-color: #fff;
}
.seeMore {
  color: #000;
  font-size: 18px;
  line-height: 29px;
  font-weight: 600;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.day45 {
  color: #000;
  font-size: 64px;
  line-height: 86px;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 123px;
  top: 5267px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.day67 {
  color: #000;
  font-size: 64px;
  line-height: 86px;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 123px;
  top: 7012px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed3 {
  color: #000;
  font-size: 40px;
  line-height: 144%;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1275px;
  top: 5369px;
  width: 559px;
  height: min-content;
  flex-direction: column;
}
.unnamed4 {
  color: #000;
  font-size: 40px;
  line-height: 144%;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1275px;
  top: 7114px;
  width: 559px;
  height: min-content;
  flex-direction: column;
}
.unnamed5 {
  color: #000;
  font-size: 24px;
  line-height: 144%;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 120px;
  top: 5409px;
  width: 559px;
  height: min-content;
  flex-direction: column;
}
.unnamed6 {
  color: #000;
  font-size: 24px;
  line-height: 144%;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 120px;
  top: 7154px;
  width: 559px;
  height: min-content;
  flex-direction: column;
}
.rectangle35 {
  position: absolute;
  left: 117px;
  top: 5644px;
  width: 566px;
  height: 780px;
  border-radius: 44px;
  background-color: #d9d9d9;
}
.rectangle39 {
  position: absolute;
  left: 117px;
  top: 7389px;
  width: 566px;
  height: 780px;
  border-radius: 44px;
  background-color: #d9d9d9;
}
.rectangle36 {
  position: absolute;
  left: 709px;
  top: 5644px;
  width: 566px;
  height: 780px;
  border-radius: 44px;
  background-color: #d9d9d9;
}
.rectangle40 {
  position: absolute;
  left: 709px;
  top: 7389px;
  width: 566px;
  height: 780px;
  border-radius: 44px;
  background-color: #d9d9d9;
}
.rectangle37 {
  position: absolute;
  left: 1301px;
  top: 5644px;
  width: 566px;
  height: 780px;
  border-radius: 44px;
  background-color: #d9d9d9;
}
.rectangle41 {
  position: absolute;
  left: 1301px;
  top: 7389px;
  width: 566px;
  height: 780px;
  border-radius: 44px;
  background-color: #d9d9d9;
}
.rectangle38 {
  position: absolute;
  left: 124px;
  top: 6557px;
  width: 541px;
  height: 322px;
  border-radius: 44px;
  background-color: #d9d9d9;
}
.rectangle42 {
  position: absolute;
  left: 124px;
  top: 8302px;
  width: 541px;
  height: 322px;
  border-radius: 44px;
  background-color: #d9d9d9;
}
.nameHotel2 {
  color: #000;
  font-size: 48px;
  line-height: 107.4222%;
  font-weight: 600;
  font-family: ManropeSB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 189px;
  top: 6608px;
  width: 476px;
  height: min-content;
  flex-direction: column;
}
.nameHotel3 {
  color: #000;
  font-size: 48px;
  line-height: 107.4222%;
  font-weight: 600;
  font-family: ManropeSB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 189px;
  top: 8353px;
  width: 476px;
  height: min-content;
  flex-direction: column;
}
.frame32 {
  position: absolute;
  left: 189px;
  top: 6798px;
  width: min-content;
  height: min-content;
  padding: 11px 41px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 55px;
  background-color: #fff;
}
.seeMore2 {
  color: #000;
  font-size: 18px;
  line-height: 29px;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame33 {
  position: absolute;
  left: 189px;
  top: 8543px;
  width: min-content;
  height: min-content;
  padding: 11px 41px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 55px;
  background-color: #fff;
}
.seeMore3 {
  color: #000;
  font-size: 18px;
  line-height: 29px;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle273 {
  position: relative;
    left: 32px;
    width: 1880px;
    height: 1080px;
    border-radius: 24px;
    background-color: #777;
}
.yourName {
  color: #000;
    font-size: 18px;
    line-height: 137.5016%;
    font-weight: 500;
    font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    text-transform: uppercase;
    position: relative;
    left: 899px;
    top: -855px;
    width: -webkit-min-content;
    width: min-content;
    height: -webkit-min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
}
.yourEMail {
  color: #000;
    font-size: 18px;
    line-height: 137.5016%;
    font-weight: 500;
    font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    text-transform: uppercase;
    position: relative;
    left: 630px;
    top: -800px;
    width: -webkit-min-content;
    width: min-content;
    height: -webkit-min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
}
.yourPhoneNumber {
  color: #000;
    font-size: 18px;
    line-height: 137.5016%;
    font-weight: 500;
    font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    text-transform: uppercase;
    position: relative;
    left: 1103px;
    top: -883px;
    width: -webkit-min-content;
    width: min-content;
    height: -webkit-min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
}
.preferredMethodOfContact {
  color: #000;
    font-size: 18px;
    line-height: 137.5016%;
    font-weight: 500;
    font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    text-transform: uppercase;
    position: relative;
    left: 813px;
    top: -813px;
    width: -webkit-min-content;
    width: min-content;
    height: -webkit-min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
}
.buttonSubmit {
  position: relative;
    left: calc(50% - -413.5px);
    top: -670px;
    width: 53px;
    height: 53px;
    align-items: center;
    padding: 10px 26px;
    /* outline: solid 1px #000; */
    outline-offset: -1px;
    border-radius: 100px;
    background-color: #fff;
    transform: translateX(-50%);
}
.airplane1 {
  transform-origin: top left;
  z-index: 0;
  position: absolute;
  left: 46px;
  top: 8px;
  width: 38px;
  height: 38px;
  background-image:/* webpackIgnore: true */ url('/assets/airplane1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0, 1, -1, 0, 0, 0);
}
.buttonSubmit2 {
  position: relative;
    left: calc(50% - 96.5px);
    top: -670px;
    width: 802px;
    height: 53px;
    align-items: center;
    padding: 10px 40px;
    /* outline: solid 1px #000; */
    outline-offset: -1px;
    border-radius: 257px;
    background-color: #fff;
    transform: translateX(-50%);
}
.send {
  color: #000;
  font-size: 32px;
  font-weight: 600;
  font-family: ManropeReg, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  z-index: 0;
  position: absolute;
  left: calc(50% - -0.5px);
  top: calc(50% - -0.5px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.dearLadiesGentlemens {
  position: absolute;
  left: calc(50% - 457.5px);
  top: calc(50% - -4318.5px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.textBlock20 {
  color: #000;
  font-size: 86px;
  line-height: 89px;
  font-style: italic;
  font-family: PlayfairI, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.textBlock21 {
  margin-top: 0;
}
.labelWrapper3 {
  font-size: 86px;
  font-family: PlayfairI, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label5 {
  color: #000;
  font-size: 86px;
  line-height: 89px;
  font-style: italic;
  font-family: PlayfairI, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.label6 {
  color: #000;
  font-size: 86px;
  line-height: 89px;
  font-family: ManropeReg, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.allowUsToHandleEverythingForYo {
  position: absolute;
  left: 191px;
  top: 9857px;
  width: 622px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.textBlock22 {
  color: #000;
  font-size: 24px;
  line-height: 36px;
  font-family: ManropeReg, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock23 {
  margin-top: 0;
  color: #000;
  font-size: 24px;
  line-height: 36px;
  font-family: ManropeReg, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.frame312 {
  position: absolute;
  left: 407px;
  top: 9076px;
  width: 226px;
  height: 81px;
  align-items: flex-start;
}
.rectangle13 {
  position: absolute;
    left: 0;
    right: 0;
    top: 1px;
    bottom: -7px;
    border-radius: 40px;
    background-color: #d9d9d9;
}
.frame322 {
  position: absolute;
  left: 1185px;
  top: 9157px;
  width: 226px;
  height: 81px;
  align-items: flex-start;
}
.rectangle25 {
  position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    bottom: -12px;
    border-radius: 40px;
    background-color: #d9d9d9;
}
.unforgettableExperiencesWithFi {
  position: absolute;
  left: calc(50% - -23px);
  top: 9083px;
  width: 1102px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.labelWrapper4 {
  font-size: 64px;
  font-family: PlayfairI, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label7 {
  color: #000;
  font-size: 64px;
  line-height: 116%;
  font-style: italic;
  font-family: PlayfairI, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.label8 {
  color: #000;
  font-size: 64px;
  line-height: 116%;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.label9 {
  color: #000;
  font-size: 64px;
  line-height: 116%;
  font-style: italic;
  font-family: PlayfairI, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.footer {
  position: absolute;
  left: 23px;
  top: 10284px;
  width: 1920px;
  height: 576px;
  align-items: flex-start;
}
.rectangle12 {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1920px;
  height: 576px;
  background-color: #dadada;
  transform: translateX(-50%);
}
.button {
  position: absolute;
  left: calc(50% - 52px);
  top: 372px;
  width: 52px;
  height: 104px;
  overflow: visible;
  transform: translateX(-50%);
}
.icon4 {
  width: 100%;
  height: 100%;
}
.strongMadrid {
  position: absolute;
  left: 101px;
  top: 293px;
  width: 595px;
  height: 108px;
  justify-content: center;
  flex-direction: column;
}
.textBlock24 {
  color: #000;
  font-size: 20px;
  line-height: 36px;
  font-family: ManropeReg, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
}
.textBlock25 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  line-height: 36px;
  font-family: ManropeReg, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
}
.textBlock26 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  line-height: 36px;
  font-family: ManropeReg, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
}
.After {
  position: absolute;
  left: 0;
  top: 517.3301px;
  width: 1920px;
  max-width: 100%;
  height: 1px;
  max-height: 100%;
  background-color: #ede4db;
}
.privacyPolicy {
  color: #000;
  font-size: 20px;
  line-height: 36px;
  font-family: ManropeReg, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 101px;
  top: 526px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.cookiesPolicy {
  color: #000;
  font-size: 20px;
  line-height: 36px;
  font-family: ManropeReg, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 281px;
  top: 526px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed7 {
  color: #000;
  font-size: 24px;
  line-height: 24px;
  font-family: ManropeReg, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 247px;
  top: 532px;
  width: 5.43px;
  height: 24px;
  justify-content: center;
  flex-direction: column;
}
._2024AllRightsReserved {
  color: #000;
  font-size: 20px;
  line-height: 36px;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 1571px;
  top: 426px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.spanShaft {
  position: absolute;
  left: 101px;
  bottom: 143px;
  width: 2px;
  height: 20px;
  background-color: #3e6305;
}
.spanShaft2 {
  position: absolute;
  right: 1799px;
  top: 433px;
  width: 20px;
  height: 2px;
  align-items: flex-start;
  background-color: #3e6305;
}
.Before {
  transform-origin: top left;
  position: absolute;
  right: -3.34px;
  top: -5.15px;
  width: 8px;
  height: 2px;
  background-color: #3e6305;
  transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 0);
}
.After2 {
  transform-origin: top left;
  position: absolute;
  right: -1.93px;
  top: 5.65px;
  width: 8px;
  height: 2px;
  background-color: #3e6305;
  transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, 0, 0);
}
.linkHablemos {
  color: #3e6305;
  font-size: 20px;
  line-height: 19.2px;
  font-weight: bold;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 131px;
  top: 423px;
  width: 111px;
  height: 20px;
  justify-content: center;
  flex-direction: column;
}
.inst {
  position: absolute;
  left: 1082px;
  top: calc(50% - -41px);
  width: 40px;
  height: 40px;
  align-items: flex-start;
  overflow: hidden;
  transform: translateY(-50%);
}
._14x2 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 40px;
  height: 40px;
  background-image:/* webpackIgnore: true */ url('/assets/_14x2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-50%);
}
.telegram {
  position: absolute;
  left: 1165px;
  top: calc(50% - -41px);
  width: 40px;
  height: 40px;
  align-items: flex-start;
  overflow: hidden;
  transform: translateY(-50%);
}
._24x1 {
  position: absolute;
  left: 0.4375px;
  top: 50%;
  width: 40px;
  height: 40px;
  background-image:/* webpackIgnore: true */ url('/assets/_24x1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-50%);
}
.wA {
  position: absolute;
  left: 1248px;
  top: calc(50% - -41px);
  width: 45px;
  height: 40px;
  align-items: flex-start;
  overflow: hidden;
  transform: translateY(-50%);
}
._34x1 {
  position: absolute;
  left: -0.125px;
  top: 50%;
  width: 40px;
  height: 40px;
  background-image:/* webpackIgnore: true */ url('/assets/_34x1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-50%);
}
.strongMadrid2 {
  color: #000;
  font-size: 40px;
  line-height: 36px;
  font-weight: 500;
  font-family: ManropeReg, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 101px;
  top: calc(50% - 23px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.iNN9707025574KPP770701001 {
  position: absolute;
  left: 696px;
  top: 293px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock27 {
  color: #000;
  font-size: 20px;
  line-height: 36px;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock28 {
  color: #000;
  font-size: 20px;
  line-height: 36px;
  font-weight: 500;
  font-family: ManropeMed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.aServiceForBookingHotelsVillas {
  color: #000;
  font-size: 20px;
  line-height: 36px;
  font-weight: 500;
  font-family: ManropeReg, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1385px;
  top: 293px;
  width: 440px;
  height: min-content;
  flex-direction: column;
}
._4321 {
  position: absolute;
  left: 836px;
  top: 150px;
  width: 1036px;
  height: 959px;
  border-radius: 44px;
  background-image:/* webpackIgnore: true */ url('/assets/_4321.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
