.slider-container {
	width: 1880px;
	margin: auto;
	margin-bottom: 40px;
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;

	display: block;
	margin-left: auto;
	margin-right: auto;
}

.title {
	margin-bottom: 35px;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	/* left: -46px; */
}

.slick-arrow {
	position: absolute;
	top: -26px;
	right: 0;
	transform: translateY(-100%);
	width: 80px;
	height: 80px;
	place-content: center;
	align-items: center;
	padding: 8px 37px;
	outline: solid 1px #000;
	outline-offset: -1px;
	border-radius: 20px;
	cursor: pointer;
}

.slick-next,
.slick-prev {
	display: flex;
	justify-content: center;
	align-items: center;
}

.slick-next svg,
.slick-prev svg {
	width: 48px;
	height: 34px;
}

.slick-prev {
	right: 100px;
}

.slick-prev svg {
	transform: rotate(180deg);
}

.slider__navigation {
	position: absolute;
	top: 1.5%;
	left: 80%;
	display: flex;
	gap: 22px;
}

.sliderNavigation__button {
	position: relative;
	width: 80px;
	height: 80px;
	place-content: center;
	align-items: center;
	padding: 8px 37px;
	outline: solid 1px #000;
	outline-offset: -1px;
	border-radius: 20px;

	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}