.Section_2TagsCONT_330_3196 {
  flex-shrink: 0;
    width: 2370px;
    height: 940px;
    position: relative;
}
.UnlockingYourSwissVisaWithFirstClass_330_3237 {
  color: #000;
    text-transform: uppercase;
    width: 2005px;
    font-family: 'PlayfairI';
    font-size: 62px;
    font-style: italic;
    font-weight: 400;
    line-height: 78px;
    position: relative;
    display: inline-block;
}
.NavigatingTheSwissVisa {
color: #000;
    text-align: justify;
    width: 660px;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 154%;
    display: inline-block;
    position: relative;
    top: -213px;
    left: 308px;
}
.Tags_334_4238 {
  flex-shrink: 0;
  width: 1920px;
  height: 719px;
}
