@import "https://fonts.googleapis.com/css?family=Manrope:0,600&display=swap";
@import "https://fonts.googleapis.com/css?family=Playfair+Display+SC:1,400&display=swap";
@import "https://fonts.googleapis.com/css?family=Manrope:0,600&display=swap";
.Section_3CityS_330_3251 {
  flex-shrink: 0;
    width: 1880px;
    height: 1184px;
    position: relative;
    top: 1263px;
    left: 0px;
}
.ManPhoto_330_3252 {
  background: #d9d9d9;
  border-radius: 44px;
  flex-shrink: 0;
  width: 1880px;
  height: 1080px;
}
.Section_3Countrys_330_3253 {
  flex-shrink: 0;
    width: 1598px;
    height: 200px;
    position: relative;
    top: -665px;
    left: 147px;
}
.WelcomeToTextWelcomeToTextWelcomeToText_330_3268 {
  color: #000;
    text-transform: uppercase;
    font-family: 'PlayfairI';
    font-size: 64px;
    font-style: italic;
    font-weight: 400;
    line-height: 76px;
    display: inline-block;
    position: relative;
    top: -1400px;
}
