@import "https://fonts.googleapis.com/css?family=Playfair+Display+SC:1,400&display=swap";
@import "https://fonts.googleapis.com/css?family=Manrope:0,600&display=swap";
@import "https://fonts.googleapis.com/css?family=Playfair+Display+SC:1,400&display=swap";
.Section_7Form_330_3376 {
  flex-shrink: 0;
  width: 2669px;
  height: 1182px;
}
.DearLadiesGentlemensWeWillTurnYourJourneyIntoATrueWorkOfArt_330_3377 {
  color: #000;
  text-align: justify;
  text-transform: uppercase;
  font-family: Manrope;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-block;
}
.Background_330_3378 {
  background: #8d8d8d;
  border-radius: 60px;
  flex-shrink: 0;
  width: 1880px;
  height: 1080px;
}
.Form_330_3379 {
  flex-shrink: 0;
  width: 881px;
  height: 568px;
}
