.Section_1Hotel_188_2885,
.PhotoVideo_188_2886 {
  flex-shrink: 0;
  width: 1920px;
  height: 960px;
}
.TextSection_188_2959 {
  flex-shrink: 0;
    width: 739px;
    height: 447px;
    position: relative;
    top: -683px;
    left: 154px;
}
.AddressSection_188_2958 {
  flex-shrink: 0;
    width: 358px;
    height: 22px;
    position: relative;
    top: -500px;
    left: 1362px;
}
.TagsSection_240_22 {
  flex-shrink: 0;
    width: 351px;
    height: 264px;
    position: relative;
    top: -958px;
    left: 1351px;
}
