.ArrowDown_330_3275 {
   box-sizing: border-box;
    border-radius: 20px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    display: flex;
    position: relative;
    top: 415px;
    left: 1755px;
    z-index: 1;
}
.DownArrow_2_330_3276 {
  background: #fffefe url(../images/Arrowleft.png) 50% / cover no-repeat;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  transform: rotate(270deg);
}
