.root {
  position: relative;
  width: 1920px;
  height: 7900px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
._1BackgroundVideo {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1920px;
  height: 1080px;
  background-color: #a3a3a3;
  transform: translateX(-50%);
}
.visitJapanWithFirstClass {
  position: absolute;
  left: 50%;
  top: calc(50% - 3410.5px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  text-shadow: 0px 1px 1px #0000000d;
  white-space: nowrap;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.labelWrapper {
  font-size: 96px;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #fff;
  font-size: 96px;
  line-height: 100px;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.label2 {
  color: #fff;
  font-size: 96px;
  line-height: 100px;
  font-family: PlayfairI, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.label3 {
  color: #fff;
  font-size: 96px;
  line-height: 100px;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.textBlock {
  margin-top: 0;
  color: #fff;
  font-size: 96px;
  line-height: 100px;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.rectangle15 {
  position: absolute;
  left: calc(50% - 0.5px);
  top: 660px;
  width: 139px;
  height: 55px;
  border-radius: 30px;
  background-color: #d9d9d9;
  transform: translateX(-50%);
}
.explore {
  color: #000;
  font-size: 17px;
  font-weight: 500;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 1px);
  top: calc(50% - 3262.5px);
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
._2Background {
  position: relative;
    left: 970px;
    top: -524px;
    width: 1880px;
    height: 1080px;
    border-radius: 24px;
    background-color: #8d8d8d;
    transform: translateX(-50%);
}
.topDestinations {
  position: absolute;
  left: 51px;
  top: 1017px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper2 {
  font-size: 64px;
  font-family: PlayfairI, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label4 {
  color: #fff;
  font-size: 64px;
  font-family: PlayfairI, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.label5 {
  color: #fff;
  font-size: 64px;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.circle {
  position: relative;
    left: -295px;
    top: -1400px;
    width: 683px;
    height: 656px;
    overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.maldivesMap {
  position: relative;
    left: 215.4609px;
    top: -2100px;
    width: 117.0945px;
    height: 144.3872px;
    overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.maldives {
  color: #fff;
    font-size: 20px;
    font-family: ManropeReg, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    position: relative;
    left: 317px;
    top: -2208px;
    width: -webkit-min-content;
    width: min-content;
    height: -webkit-min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
}
.japan {
  position: relative;
    left: 425px;
    top: -2000px;
    width: 145px;
    height: 165px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.japan2 {
  color: #fff;
    font-size: 28px;
    font-family: ManropeReg, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    position: relative;
    left: 607px;
    top: -2041px;
    width: -webkit-min-content;
    width: min-content;
    height: -webkit-min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
}
.kyoto {
  color: #fff;
    font-size: 96px;
    font-family: PlayfairI, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    text-transform: uppercase;
    position: relative;
    left: calc(50% - 178.5px);
    top: -2215px;
    width: -webkit-min-content;
    width: min-content;
    height: -webkit-min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
    transform: translateX(-50%);
}
.lasVegas {
  position: relative;
    left: 266px;
    top: -1959px;
    width: 75px;
    height: 85px;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.lasVegas2 {
  color: #fff;
    font-size: 20px;
    font-family: ManropeReg, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    position: relative;
    left: 363px;
    top: -2022px;
    width: -webkit-min-content;
    width: min-content;
    height: -webkit-min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
}
._3Background {
  position: absolute;
  left: 50%;
  top: 2080px;
  width: 1920px;
  height: 1080px;
  border-radius: 60px;
  background-color: #8d8d8d;
  transform: translateX(-50%);
}
.chooseOurFriends {
  position: absolute;
  left: 60px;
  top: 2109px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper3 {
  font-size: 64px;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label6 {
  color: #fff;
  font-size: 64px;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.label7 {
  color: #fff;
  font-size: 64px;
  font-family: PlayfairI, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.rectangle116 {
  position: absolute;
  left: 60px;
  top: 2220px;
  width: 860px;
  height: 60px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 24px;
  background-color: #fff;
}
.search {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 140px;
  top: 2233px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.loupe {
  position: absolute;
  left: 100px;
  top: 2238px;
  width: 24px;
  height: 24px;
}
.background {
  position: absolute;
  left: calc(50% - 470px);
  top: 2300px;
  width: 860px;
  height: 400px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 44px;
  transform: translateX(-50%);
}
.photoOfHotel {
  position: absolute;
  left: calc(50% - 650px);
  top: 2320px;
  width: 460px;
  height: 360px;
  border-radius: 44px;
  background-color: #4c4c4c;
  transform: translateX(-50%);
}
.rectangle170 {
  position: absolute;
  left: 420px;
  top: 2340px;
  width: 100px;
  height: 60px;
  border-radius: 30px;
  background-color: #fff;
}
.tAG {
  color: #000;
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 446px;
  top: 2351px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.hotelName {
  position: absolute;
  left: 577px;
  top: 2317px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock2 {
  color: #000;
  font-size: 40px;
  font-weight: 500;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.textBlock3 {
  margin-top: 0;
}
.labelWrapper4 {
  font-size: 40px;
  font-family: Playfair Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label8 {
  color: #000;
  font-size: 40px;
  font-family: PlayfairI, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
._08Star {
  position: absolute;
  left: 577px;
  top: 2437px;
  width: 23px;
  height: 23px;
}
._08Star2 {
  position: absolute;
  left: 604px;
  top: 2437px;
  width: 23px;
  height: 23px;
}
._08Star3 {
  position: absolute;
  left: 631px;
  top: 2437px;
  width: 23px;
  height: 23px;
}
._08Star4 {
  position: absolute;
  left: 658px;
  top: 2437px;
  width: 23px;
  height: 23px;
}
._08Star5 {
  position: absolute;
  left: 685px;
  top: 2437px;
  width: 23px;
  height: 23px;
}
.description {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 577px;
  top: 2494px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle118 {
  position: absolute;
  left: 740px;
  top: 2620px;
  width: 160px;
  height: 60px;
  border-radius: 30px;
  background-color: #000;
}
.button {
  color: #fff;
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 771px;
  top: 2631px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.background2 {
  position: absolute;
  left: calc(50% - 470px);
  top: 2720px;
  width: 860px;
  height: 400px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 44px;
  transform: translateX(-50%);
}
.photoOfHotel2 {
  position: absolute;
  left: calc(50% - 650px);
  top: 2740px;
  width: 460px;
  height: 360px;
  border-radius: 44px;
  background-color: #4c4c4c;
  transform: translateX(-50%);
}
.rectangle1702 {
  position: absolute;
  left: 420px;
  top: 2760px;
  width: 100px;
  height: 60px;
  border-radius: 30px;
  background-color: #fff;
}
.tAG2 {
  color: #000;
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 446px;
  top: 2771px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.hotelName2 {
  position: absolute;
  left: 577px;
  top: 2737px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock4 {
  color: #000;
  font-size: 40px;
  font-weight: 500;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.textBlock5 {
  margin-top: 0;
}
.labelWrapper5 {
  font-size: 40px;
  font-family: Playfair Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label9 {
  color: #000;
  font-size: 40px;
  font-family: PlayfairI, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
._08Star6 {
  position: absolute;
  left: 577px;
  top: 2857px;
  width: 23px;
  height: 23px;
}
._08Star7 {
  position: absolute;
  left: 604px;
  top: 2857px;
  width: 23px;
  height: 23px;
}
._08Star8 {
  position: absolute;
  left: 631px;
  top: 2857px;
  width: 23px;
  height: 23px;
}
._08Star9 {
  position: absolute;
  left: 658px;
  top: 2857px;
  width: 23px;
  height: 23px;
}
._08Star10 {
  position: absolute;
  left: 685px;
  top: 2857px;
  width: 23px;
  height: 23px;
}
.description2 {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 577px;
  top: 2914px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle1182 {
  position: absolute;
  left: 740px;
  top: 3040px;
  width: 160px;
  height: 60px;
  border-radius: 30px;
  background-color: #000;
}
.button2 {
  color: #fff;
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 771px;
  top: 3051px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.map {
  position: absolute;
  left: calc(50% - -450px);
  top: 2220px;
  width: 900px;
  height: 900px;
  border-radius: 44px;
  background-color: #4c4c4c;
  transform: translateX(-50%);
}
._4Background {
  position: absolute;
  left: 50%;
  top: 3180px;
  width: 1920px;
  height: 1080px;
  border-radius: 60px;
  background-color: #8d8d8d;
  transform: translateX(-50%);
}
.forBusyBeeSOnTheFly {
  position: absolute;
  left: 57px;
  top: 3219px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper6 {
  font-size: 64px;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label10 {
  color: #fff;
  font-size: 64px;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.label11 {
  color: #fff;
  font-size: 64px;
  font-family: PlayfairI, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.label12 {
  color: #fff;
  font-size: 64px;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
._4ArrowRight {
  position: absolute;
  left: 1760px;
  top: 3222px;
  width: 100px;
  height: 80px;
  place-content: center;
  align-items: center;
  padding: 8px 37px;
  outline: solid 1px #fff;
  outline-offset: -1px;
  border-radius: 20px;
  background-color: #fff;
}
.upRightArrow1 {
  transform-origin: top left;
  z-index: 0;
  position: absolute;
  left: 50%;
  top: calc(17% - -0.0098px);
  transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 0) translate(-50%, -50%);
}
._4ArrowLeft {
  position: absolute;
  left: 1660px;
  top: 3222px;
  width: 80px;
  height: 80px;
  place-content: center;
  align-items: center;
  padding: 8px 37px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 20px;
}
.upRightArrow2 {
  transform-origin: top left;
  z-index: 0;
  position: absolute;
  left: 50%;
  top: calc(84% - 0.0098px);
  transform: matrix(-0.7071, -0.7071, 0.7071, -0.7071, 0, 0) translate(-50%, -50%);
}
.cardBackground {
  position: absolute;
  left: calc(50% - 300px);
  top: 3340px;
  width: 1200px;
  height: 840px;
  border-radius: 44px;
  background-color: #777;
  transform: translateX(-50%);
}
.cardBackgroundc {
  position: absolute;
  border-radius: 44px;
  background-color: #777;
}
.title {
  color: #fff;
  font-size: 61px;
  font-weight: 599;
  font-family: ManropeSB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 793px);
  top: 3866.9091px;
  width: 138px;
  height: 83.0455px;
  flex-direction: column;
  transform: translateX(-50%);
}
.description3 {
  color: #fff;
  font-size: 38px;
  font-weight: 599;
  font-family: ManropeSB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 750.5px);
  top: 3948.0454px;
  width: 223px;
  height: 52.5px;
  flex-direction: column;
  transform: translateX(-50%);
}
.rectangle171 {
  position: absolute;
  left: 100px;
  top: 4060px;
  width: 1120px;
  height: 80px;
  border-radius: 60px;
  background-color: #fff;
}
.button3 {
  color: #000;
  font-size: 23px;
  font-weight: 599;
  font-family: ManropeSB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 300px);
  top: calc(50% - -150.5px);
  width: 78px;
  height: 33px;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.rectangle1703 {
  position: absolute;
  left: 900px;
  top: 3380px;
  width: 220px;
  height: 80px;
  border-radius: 60px;
  background-color: #fff;
}
.tAG3 {
  color: #000;
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - -50.5px);
  top: 3401px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
  transform: translateX(-50%);
}
.rectangle1704 {
  position: absolute;
  left: 1140px;
  top: 3380px;
  width: 80px;
  height: 80px;
  border-radius: 60px;
  background-color: #fff;
}
.cardBackground2 {
  position: absolute;
  left: calc(50% - -940px);
  top: 3340px;
  width: 1200px;
  height: 840px;
  border-radius: 44px;
  background-color: #777;
  transform: translateX(-50%);
}
.title2 {
  color: #fff;
  font-size: 61px;
  font-weight: 599;
  font-family: ManropeSB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -447px);
  top: 3866.9091px;
  width: 138px;
  height: 83.0455px;
  flex-direction: column;
  transform: translateX(-50%);
}
.description4 {
  color: #fff;
  font-size: 38px;
  font-weight: 599;
  font-family: ManropeSB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -489.5px);
  top: 3948.0454px;
  width: 223px;
  height: 52.5px;
  flex-direction: column;
  transform: translateX(-50%);
}
.rectangle1712 {
  position: absolute;
  left: 1340px;
  top: 4060px;
  width: 1120px;
  height: 80px;
  border-radius: 60px;
  background-color: #fff;
}
.button4 {
  color: #000;
  font-size: 23px;
  font-weight: 599;
  font-family: ManropeSB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -940px);
  top: calc(50% - -150.5px);
  width: 78px;
  height: 33px;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.rectangle1705 {
  position: absolute;
  left: 2140px;
  top: 3380px;
  width: 220px;
  height: 80px;
  border-radius: 60px;
  background-color: #fff;
}
.tAG4 {
  color: #000;
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - -1290.5px);
  top: 3401px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
  transform: translateX(-50%);
}
.rectangle1706 {
  position: absolute;
  left: 2380px;
  top: 3380px;
  width: 80px;
  height: 80px;
  border-radius: 60px;
  background-color: #fff;
}
._5Background {
  position: absolute;
  left: 50%;
  top: 4280px;
  width: 1920px;
  height: 1080px;
  border-radius: 60px;
  background-color: #8d8d8d;
  transform: translateX(-50%);
}
.premiumCareForAPremiumExperien {
  position: absolute;
  left: 57px;
  top: 4319px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper7 {
  font-size: 64px;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label13 {
  color: #fff;
  font-size: 64px;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.label14 {
  color: #fff;
  font-size: 64px;
  font-family: PlayfairI, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.label15 {
  color: #fff;
  font-size: 64px;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.label16 {
  color: #fff;
  font-size: 64px;
  font-family: PlayfairI, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.cardBackground3 {
  position: absolute;
  left: calc(50% - 300px);
  top: 4440px;
  width: 1200px;
  height: 840px;
  border-radius: 44px;
  background-color: #777;
  transform: translateX(-50%);
}
.title3 {
  color: #fff;
  font-size: 61px;
  font-weight: 599;
  font-family: ManropeSB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 793px);
  top: 4966.9091px;
  width: 138px;
  height: 83.0455px;
  flex-direction: column;
  transform: translateX(-50%);
}
.description5 {
  color: #fff;
  font-size: 38px;
  font-weight: 599;
  font-family: ManropeSB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 750.5px);
  top: 5048.0454px;
  width: 223px;
  height: 52.5px;
  flex-direction: column;
  transform: translateX(-50%);
}
.rectangle1713 {
  position: absolute;
  left: 100px;
  top: 5160px;
  width: 1120px;
  height: 80px;
  border-radius: 60px;
  background-color: #fff;
}
.button5 {
  color: #000;
  font-size: 23px;
  font-weight: 599;
  font-family: ManropeSB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 300px);
  top: calc(50% - -1250.5px);
  width: 78px;
  height: 33px;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.rectangle1707 {
  position: absolute;
  left: 900px;
  top: 4480px;
  width: 220px;
  height: 80px;
  border-radius: 60px;
  background-color: #fff;
}
.tAG5 {
  color: #000;
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - -50.5px);
  top: 4501px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
  transform: translateX(-50%);
}
.rectangle1708 {
  position: absolute;
  left: 1140px;
  top: 4480px;
  width: 80px;
  height: 80px;
  border-radius: 60px;
  background-color: #fff;
}
.car {
  position: absolute;
  left: calc(50% - -227.5px);
  top: calc(50% - -572.5px);
  width: 43px;
  height: 43px;
  transform: translate(-50%, -50%);
}
.rectangle167 {
  position: absolute;
  left: calc(50% - -500px);
  top: 4440px;
  width: 320px;
  height: 840px;
  border-radius: 44px;
  background-color: #777;
  transform: translateX(-50%);
}
.title4 {
  transform-origin: top left;
  color: #fff;
  font-size: 61px;
  font-weight: 599;
  font-family: ManropeSB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -499.5px);
  top: 4929px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: matrix(0, -1, 1, 0, 0, 0) translateX(-50%);
}
.rectangle1672 {
  position: absolute;
  left: calc(50% - -860px);
  top: 4440px;
  width: 320px;
  height: 840px;
  border-radius: 44px;
  background-color: #777;
  transform: translateX(-50%);
}
.title5 {
  transform-origin: top left;
  color: #fff;
  font-size: 61px;
  font-weight: 599;
  font-family: ManropeSB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -859.5px);
  top: 4929px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: matrix(0, -1, 1, 0, 0, 0) translateX(-50%);
}
._5ArrowRight {
  position: absolute;
  left: 1760px;
  top: 4323px;
  width: 80px;
  height: 80px;
  place-content: center;
  align-items: center;
  padding: 8px 37px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 20px;
}
.upRightArrow12 {
  transform-origin: top left;
  z-index: 0;
  position: absolute;
  left: 50%;
  top: calc(47% - -0.0098px);
  width: 33.9549px;
  height: 33.9549px;
  transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 0) translate(-50%, -50%);
}
._5ArrowLeft {
  position: absolute;
  left: 1660px;
  top: 4323px;
  width: 80px;
  height: 80px;
  place-content: center;
  align-items: center;
  padding: 8px 37px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 20px;
}
.upRightArrow22 {
  transform-origin: top left;
  z-index: 0;
  position: absolute;
  left: 50%;
  top: calc(54% - 0.0098px);
  width: 33.9549px;
  height: 33.9549px;
  transform: matrix(-0.7071, -0.7071, 0.7071, -0.7071, 0, 0) translate(-50%, -50%);
}
._6Background {
  position: absolute;
  left: 50%;
  top: 5380px;
  width: 1920px;
  height: 1080px;
  border-radius: 60px;
  background-color: #8d8d8d;
  transform: translateX(-50%);
}
.exclusiveVoyagesWithoutBoundar {
  position: absolute;
  left: 57px;
  top: 5419px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper8 {
  font-size: 64px;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label17 {
  color: #fff;
  font-size: 64px;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.label18 {
  color: #fff;
  font-size: 64px;
  font-family: PlayfairI, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.label19 {
  color: #fff;
  font-size: 64px;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.label20 {
  color: #fff;
  font-size: 64px;
  font-family: PlayfairI, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
._6ArrowRight {
  position: absolute;
  left: 1760px;
  top: 5422px;
  width: 100px;
  height: 80px;
  place-content: center;
  align-items: center;
  padding: 8px 37px;
  outline: solid 1px #fff;
  outline-offset: -1px;
  border-radius: 20px;
  background-color: #fff;
}
.upRightArrow13 {
  transform-origin: top left;
  z-index: 0;
  position: absolute;
  left: 50%;
  top: calc(45% - -0.0098px);
  width: 33.9549px;
  height: 33.9549px;
  transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 0) translate(-50%, -50%);
}
._6ArrowLeft {
  position: absolute;
  left: 1660px;
  top: 5422px;
  width: 80px;
  height: 80px;
  place-content: center;
  align-items: center;
  padding: 8px 37px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 20px;
}
.upRightArrow23 {
  transform-origin: top left;
  z-index: 0;
  position: absolute;
  left: 50%;
  top: calc(53% - 0.0098px);
  width: 33.9549px;
  height: 33.9549px;
  transform: matrix(-0.7071, -0.7071, 0.7071, -0.7071, 0, 0) translate(-50%, -50%);
}
.cardBackground4 {
  position: absolute;
  left: calc(50% - 300px);
  top: 5540px;
  width: 1200px;
  height: 840px;
  border-radius: 44px;
  background-color: #777;
  transform: translateX(-50%);
}
.title6 {
  color: #fff;
  font-size: 61px;
  font-weight: 599;
  font-family: ManropeSB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 793px);
  top: 6066.9091px;
  width: 138px;
  height: 83.0455px;
  flex-direction: column;
  transform: translateX(-50%);
}
.description6 {
  color: #fff;
  font-size: 38px;
  font-weight: 599;
  font-family: ManropeSB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 750.5px);
  top: 6148.0454px;
  width: 223px;
  height: 52.5px;
  flex-direction: column;
  transform: translateX(-50%);
}
.rectangle1714 {
  position: absolute;
  left: 100px;
  top: 6260px;
  width: 1120px;
  height: 80px;
  border-radius: 60px;
  background-color: #fff;
}
.button6 {
  color: #000;
  font-size: 23px;
  font-weight: 599;
  font-family: ManropeSB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 300px);
  top: calc(50% - -2350.5px);
  width: 78px;
  height: 33px;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.rectangle1709 {
  position: absolute;
  left: 900px;
  top: 5580px;
  width: 220px;
  height: 80px;
  border-radius: 60px;
  background-color: #fff;
}
.tAG6 {
  color: #000;
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - -50.5px);
  top: 5601px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
  transform: translateX(-50%);
}
.rectangle17010 {
  position: absolute;
  left: 1140px;
  top: 5580px;
  width: 80px;
  height: 80px;
  border-radius: 60px;
  background-color: #fff;
}
.helicopter {
  position: absolute;
  left: calc(50% - -228.5px);
  top: calc(50% - -1673.5px);
  width: 39px;
  height: 39px;
  transform: translate(-50%, -50%);
}
.cardBackground5 {
  position: absolute;
  left: calc(50% - -940px);
  top: 5540px;
  width: 1200px;
  height: 840px;
  border-radius: 44px;
  background-color: #777;
  transform: translateX(-50%);
}
.title7 {
  color: #fff;
  font-size: 61px;
  font-weight: 599;
  font-family: ManropeSB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -447px);
  top: 6066.9091px;
  width: 138px;
  height: 83.0455px;
  flex-direction: column;
  transform: translateX(-50%);
}
.description7 {
  color: #fff;
  font-size: 38px;
  font-weight: 599;
  font-family: ManropeSB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -489.5px);
  top: 6148.0454px;
  width: 223px;
  height: 52.5px;
  flex-direction: column;
  transform: translateX(-50%);
}
.rectangle1715 {
  position: absolute;
  left: 1340px;
  top: 6260px;
  width: 1120px;
  height: 80px;
  border-radius: 60px;
  background-color: #fff;
}
.button7 {
  color: #000;
  font-size: 23px;
  font-weight: 599;
  font-family: ManropeSB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -940px);
  top: calc(50% - -2350.5px);
  width: 78px;
  height: 33px;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.rectangle17011 {
  position: absolute;
  left: 2140px;
  top: 5580px;
  width: 220px;
  height: 80px;
  border-radius: 60px;
  background-color: #fff;
}
.tAG7 {
  color: #000;
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - -1290.5px);
  top: 5601px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
  transform: translateX(-50%);
}
.rectangle17012 {
  position: absolute;
  left: 2380px;
  top: 5580px;
  width: 80px;
  height: 80px;
  border-radius: 60px;
  background-color: #fff;
}
._7Background {
  position: absolute;
  left: 50%;
  top: 6480px;
  width: 1920px;
  height: 1080px;
  border-radius: 60px;
  background-color: #8d8d8d;
  transform: translateX(-50%);
}
.rectangle96 {
  position: absolute;
  left: 519px;
  top: 6736px;
  width: 421px;
  height: 80px;
  border-radius: 24px;
  background-color: #fff;
}
.name {
  color: #000;
  font-size: 24px;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 210.7937px);
  top: 6760px;
  width: 68.4125px;
  height: min-content;
  flex-direction: column;
  transform: translateX(-50%);
}
.rectangle97 {
  position: absolute;
  left: 980px;
  top: 6736px;
  width: 420px;
  height: 80px;
  border-radius: 24px;
  background-color: #fff;
}
.surname {
  color: #000;
  font-size: 24px;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -249.5px);
  top: 6760px;
  width: 105px;
  height: min-content;
  flex-direction: column;
  transform: translateX(-50%);
}
.rectangle98 {
  position: absolute;
  left: 519px;
  top: 6836px;
  width: 421px;
  height: 80px;
  border-radius: 24px;
  background-color: #fff;
}
.phoneNumber {
  color: #000;
  font-size: 24px;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 210.7475px);
  top: 6860px;
  width: 170.505px;
  height: min-content;
  flex-direction: column;
  transform: translateX(-50%);
}
.rectangle99 {
  position: absolute;
  left: 980px;
  top: 6836px;
  width: 420px;
  height: 80px;
  border-radius: 24px;
  background-color: #fff;
}
.eMailAdress {
  color: #000;
  font-size: 24px;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -250.225px);
  top: 6860px;
  width: 156.45px;
  height: min-content;
  flex-direction: column;
  transform: translateX(-50%);
}
.rectangle982 {
  position: absolute;
  left: 519px;
  top: 6955px;
  width: 881px;
  height: 240px;
  border-radius: 34px;
  background-color: #fff;
}
.leaveAComment {
  color: #000;
  font-size: 24px;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -19px);
  top: 6983px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateX(-50%);
}
.rectangle94 {
  position: absolute;
  left: 519px;
  top: 7224px;
  width: 786px;
  height: 80px;
  border-radius: 24px;
  background-color: #fff;
}
.letSTravel {
  color: #000;
  font-size: 24px;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -19.5px);
  top: 7248px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateX(-50%);
}
.rectangle95 {
  position: absolute;
  left: 1320px;
  top: 7224px;
  width: 80px;
  height: 80px;
  border-radius: 60px;
  background-color: #fff;
}
._04Airplane {
  position: absolute;
  left: 1348px;
  top: 7248px;
  width: 42px;
  height: 42px;
}
.dearLadiesGentlemensWeWillTurn {
  position: absolute;
  left: 12px;
  top: 6516px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper9 {
  font-size: 64px;
  font-family: Playfair Display SC, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label21 {
  color: #000;
  font-size: 64px;
  font-family: PlayfairI, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.label22 {
  color: #000;
  font-size: 64px;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.dearLadiesGentlemensWeWillTurn2 {
  position: absolute;
  left: -749px;
  top: 7433px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper10 {
  font-size: 64px;
  font-family: Playfair Display SC, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label23 {
  color: #000;
  font-size: 64px;
  font-family: PlayfairI, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.label24 {
  color: #000;
  font-size: 64px;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
._8Background {
  position: absolute;
  left: 50%;
  top: 7580px;
  width: 1916px;
  height: 300px;
  border-radius: 60px;
  background-color: #8d8d8d;
  transform: translateX(-50%);
}
.logo {
  position: absolute;
  left: 160px;
  top: 20px;
  width: 24px;
  height: 40px;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.createYourDreamTour {
  color: #000;
  font-size: 17px;
  font-weight: 500;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 427px;
  top: 29px;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle152 {
  position: absolute;
  left: 365px;
  top: 20px;
  width: 52px;
  height: 40px;
  border-radius: 60px;
  background-color: #d9d9d9;
}
.airplane {
  position: absolute;
  left: 385px;
  top: 31px;
  width: 25px;
  height: 25px;
}
.rectangle153 {
  position: absolute;
  left: 700px;
  top: 20px;
  width: 161px;
  height: 40px;
  border-radius: 30px;
  background-color: #d9d9d9;
}
.unnamed {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 823.1279px;
  top: 23px;
  width: 17.8889px;
  height: min-content;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
.destinations {
  color: #000;
  font-size: 17px;
  font-weight: 500;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 720px;
  top: 28px;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle154 {
  position: absolute;
  left: calc(50% - 0.5px);
  top: 20px;
  width: 139px;
  height: 40px;
  border-radius: 30px;
  background-color: #d9d9d9;
  transform: translateX(-50%);
}
.unnamed2 {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 981.0762px;
  top: 23px;
  width: 20.7463px;
  height: min-content;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
.rentals {
  color: #000;
  font-size: 17px;
  font-weight: 500;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 917.8008px;
  top: 28px;
  width: 63.2761px;
  height: min-content;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
.rectangle155 {
  position: absolute;
  left: 1060px;
  top: 20px;
  width: 160px;
  height: 40px;
  border-radius: 30px;
  background-color: #d9d9d9;
}
.unnamed3 {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1179.1896px;
  top: 23px;
  width: 20.2532px;
  height: min-content;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
.typeOfTrips {
  position: absolute;
  left: 1080px;
  top: 28px;
  width: 99px;
  height: min-content;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
.labelWrapper11 {
  font-size: 17px;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label25 {
  color: #000;
  font-size: 17px;
  font-weight: 500;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
}
.label26 {
  color: #000;
  font-size: 17px;
  font-weight: 500;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.meetGreetServices {
  color: #000;
  font-size: 17px;
  font-weight: 500;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1305px;
  top: 29px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle156 {
  position: absolute;
  left: 1566px;
  top: 20px;
  width: 52px;
  height: 40px;
  border-radius: 60px;
  background-color: #d9d9d9;
}
.phoneCall {
  position: absolute;
  left: 1589px;
  top: 34px;
  width: 20px;
  height: 20px;
}
.rectangle157 {
  position: absolute;
  left: 1628px;
  top: 20px;
  width: 52px;
  height: 40px;
  border-radius: 60px;
  background-color: #d9d9d9;
}
.email {
  position: absolute;
  left: 1649px;
  top: 31px;
  width: 24px;
  height: 24px;
}
.rectangle158 {
  position: absolute;
  left: 1708px;
  top: 20px;
  width: 52px;
  height: 40px;
  border-radius: 60px;
  background-color: #d9d9d9;
}
.eng {
  color: #000;
  font-size: 17px;
  font-weight: 500;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1718px;
  top: 28px;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
