@import "https://fonts.googleapis.com/css?family=Manrope:0,600&display=swap";
.Title_330_3270 {
  flex-shrink: 0;
    width: 886px;
    height: 87px;
    position: relative;
    top: 1275px;
    left: 0px;
}
.ountrySVibrantEvents_330_3271 {
  color: #000;
  text-align: justify;
  text-transform: uppercase;
  font-family: Manrope;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-block;
}
