.footer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 1880px;
	margin: auto;
	color: white;
	font-size: 26px;
	padding: 40px 50px;
	height: 980px;
	border-radius: 60px 60px 0 0;
	font-family: "ManropeReg";
	line-height: normal;
}

.top,
.middle,
.bottom {
	display: flex;
	justify-content: space-between;
}

.top {
	padding-right: 107px;
}

.description {
	width: 820px;
}

.top-link,
.networks {
	font-family: "ManropeMed";
}

.middle {
	align-items: center;
	padding-right: 195px;
}

.networks {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.image {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 50%);
	width: 395px;
	height: 514px;
	border-radius: 120px;
	overflow: hidden;
}

.image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}