.DearLadiesGentlemensWeWillTurnYourJourneyIntoATrueWorkOfArt_205_169 {
  color: #000;
  text-align: justify;
  text-transform: uppercase;
  font-family: Manrope;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-block;
}
