@import "https://fonts.googleapis.com/css?family=Manrope:0,600&display=swap";
@import "https://fonts.googleapis.com/css?family=Playfair+Display:1,400&display=swap";
@import "https://fonts.googleapis.com/css?family=Manrope:0,600&display=swap";
.Title_330_3304 {
  flex-shrink: 0;
    width: 680px;
    height: 87px;
    position: relative;
    top: 869px;
    left: 0px;
}
.ChooseOurHotels_330_3305 {
  color: #000;
  text-align: justify;
  text-transform: uppercase;
  font-family: PlayfairI;
  font-size: 64px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}
