.runline__item .cursive {
	font-size: 64px;
	line-height: normal;
	font-weight: 400;
	text-transform: uppercase;
	font-family: PlayfairI, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
	margin: 7px;
}

.runline {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	background-color: var(--yellow);
	padding-top: 3px;
	max-width: 1920px;
	margin: auto;
	overflow: hidden;
	margin-bottom: 28px;
}

.runline__container {
	display: flex;
}

.runline__item {
	font-size: 64px;
	font-weight: 600;
	font-family: ManropeSB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
	text-transform: uppercase;
	white-space: nowrap;
	flex-shrink: 0;
	animation: runline 15s linear infinite;
	margin: 0;
	padding: 0;
	padding-right: 50px;
}

@keyframes runline {
	0% {
		transform: translateZ(0);
	}

	to {
		transform: translate3d(-99.99%, 0, 0);
	}
}