.Section_9Footer_330_3515 {
  flex-shrink: 0;
    width: 1878px;
    height: 300px;
    position: relative;
    top: -1752px;
    left: 29px;
}
.Background_330_3516 {
  background: #8d8d8d;
    border-radius: 24px;
    flex-shrink: 0;
    width: 1878px;
    height: 300px;
}
