.SectionMap_330_3340 {
  background: #4c4c4c;
    border-radius: 44px;
    flex-shrink: 0;
    width: 940px;
    height: 940px;
    position: inherit;
    left: 1092px;
    top: -1009px;
}
.Map_330_3341 {
  background: #4c4c4c;
  border-radius: 44px;
  flex-shrink: 0;
  width: 940px;
  height: 940px;
}
