/* .main-slider .slick-slide {
	width: ;
	transition: width 0.5s;
}

.main-slider .slick-slide * {
	transition: width 0.5s;
}

.main-slider .slick-slide:hover {
	width: 1160px;
}

.main-slider .slick-slide:hover * {
	width: 1140px;
}



.main-slider .slick-current {
	width: 1140px;
}

.main-slider .slick-current div {
	width: 1140px;
}



.main-slider .active-slide {
	width: 1160px;
}

.main-slider .active-slide div {
	width: 1140px;
} */