.slider {
	width: 100%;
	height: 130px;
	z-index: 2;
}

.slide {
	position: relative;
	font-size: 64px;
	display: flex;
	justify-content: center;
	height: 130px;
	display: flex;
	align-items: center;
	cursor: pointer;
	text-transform: uppercase;
}

.slick-active {
	font-size: 94px;
}